accelerate==0.32.1
beautifulsoup4
bitsandbytes==0.41.3
boto3==1.34.148
botocore==1.34.148
deepspeed==0.14.4
diffusers==0.29.2
distro==1.9.0
flash-attn==2.5.9
gradio==4.36.0
gradio_client==1.0.1
huggingface-hub==0.24.0
newspaper3k==0.2.8
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.37.1
optimum==1.13.1
pandas==2.2.1
peft==0.11.1
PyYAML==5.1
scikit-learn==1.5.0
scipy==1.13.1
selenium==4.21.0
sentencepiece==0.2.0
sentry-sdk==2.7.1
setuptools==69.5.1
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.42.4
wandb==0.17.3